{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>{{ title }}</title>
{% endblock %}
{% block main %}
    {% include 'posts/block_banner.html' %}
    {% include 'posts/statistics.html' %}
    <!--Сообщения пользователей-->
    {% block all-massages %}
    <div id="all-massages-list">
        <div id="all-massages-list-title">
            <p>Последние сообщения</p>
        </div>
        <div id="feed">
            {% include 'posts/post.html' %}
            <hr>
{#            <div class="post">#}
{#                <div class="post-avatar">#}
{#                    <img src="{% static '../../pictures/user_images/image 1.png' %}">#}
{#                </div>#}
{#                <div class="post-main">#}
{#                    <div class="post-main-header">#}
{#                        <div class="post-main-header-name">#}
{#                            <p>Elon Musk</p>#}
{#                        </div>#}
{#                        <div class="post-main-header-sign">#}
{#                            <p>@elonmusk</p>#}
{#                        </div>#}
{#                        <div class="post-main-header-time">#}
{#                            <p>12 часов назад</p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="post-main-content">#}
{#                        <p>Has anyone seen web3? I can’t find it.</p>#}
{#                    </div>#}
{#                    <div class="post-main-footer">#}
{#                        <div class="post-main-footer-replies">#}
{#                            <p><img src="{% static '../../pictures/user_images/replies.png' %}">21</p>#}
{#                        </div>#}
{#                        <div class="post-main-footer-favs">#}
{#                            <p><img src="{% static '../../pictures/user_images/favs.png' %}">23</p>#}
{#                        </div>#}
{#                        <div class="post-main-footer-sharings">#}
{#                            <p><img src="{% static '../../pictures/user_images/share.png' %}">9</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <hr>#}
{#            <div class="post">#}
{#                <div class="post-avatar">#}
{#                    <img src="{% static '../../pictures/user_images/image 7.png' %}">#}
{#                </div>#}
{#                <div class="post-main">#}
{#                    <div class="post-main-header">#}
{#                        <div class="post-main-header-name">#}
{#                            <p>Александр</p>#}
{#                        </div>#}
{#                        <div class="post-main-header-sign">#}
{#                            <p>@sportsru</p>#}
{#                        </div>#}
{#                        <div class="post-main-header-time">#}
{#                            <p>2 часа назад</p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="post-main-content">#}
{#                        <p>Прикладываю фотки с последнего матча. С каждым днем играю все лучше. Еще пару лет и можно на#}
{#                            Олимпиаду ехать!</p>#}
{#                        <img src="{% static '../../pictures/user_images/image 4.png' %}">#}
{#                    </div>#}
{#                    <div class="post-main-footer">#}
{#                        <div class="post-main-footer-replies">#}
{#                            <p><img src="{% static '../../pictures/user_images/replies.png' %}">21</p>#}
{#                        </div>#}
{#                        <div class="post-main-footer-favs">#}
{#                            <p><img src="{% static '../../pictures/user_images/favs.png' %}">23</p>#}
{#                        </div>#}
{#                        <div class="post-main-footer-sharings">#}
{#                            <p><img src="{% static '../../pictures/user_images/share.png' %}">9</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <hr>#}
{#            <div class="post">#}
{#                <div class="post-avatar">#}
{#                    <img src="{% static '../../pictures/user_images/image 3.png' %}">#}
{#                </div>#}
{#                <div class="post-main">#}
{#                    <div class="post-main-header">#}
{#                        <div class="post-main-header-name">#}
{#                            <p>Мия Уоллес</p>#}
{#                        </div>#}
{#                        <div class="post-main-header-sign">#}
{#                            <p>@mia</p>#}
{#                        </div>#}
{#                        <div class="post-main-header-time">#}
{#                            <p>1 день назад</p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="post-main-content">#}
{#                        <p>Идут по улице три помидора: папа-помидор, мама-помидор и ребенок-помидор. Ребенок-помидор#}
{#                            начинает отставать. Папа-помидор разозлился, подбегает к ребенку-помидору, раздавливает#}
{#                            всмятку... и говорит: «Догоняй, кетчуп!»</p>#}
{#                    </div>#}
{#                    <div class="post-main-footer">#}
{#                        <div class="post-main-footer-replies">#}
{#                            <p><img src="{% static '../../pictures/user_images/replies.png' %}">21</p>#}
{#                        </div>#}
{#                        <div class="post-main-footer-favs">#}
{#                            <p><img src="{% static '../../pictures/user_images/favs.png' %}">23</p>#}
{#                        </div>#}
{#                        <div class="post-main-footer-sharings">#}
{#                            <p><img src="{% static '../../pictures/user_images/share.png' %}">9</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
    {% endblock %}
{% endblock %}