<!--    Раздел со статистикой    -->
{% block statistics %}
<div id="statistics">
    <div id="statistics-count-users">
        <p class="statistic-numbers">20</p>
        <p class="statistic-text">Пользователей зарегистрировано</p>
    </div>
    <div id="statistics-all-massages">
        <p class="statistic-numbers">556</p>
        <p class="statistic-text">Сообщений написано</p>
    </div>
    <div id="statistics-today-messages">
        <p class="statistic-numbers">58</p>
        <p class="statistic-text">Написано сегодня</p>
    </div>
</div>
{% endblock %}