{% load static %}
<header class="container">
    <nav>
{#        <img src="{% static 'pictures/header/home.png' %}">#}
        <a href="#">Лента</a>
{#        <img src="{% static 'pictures/header/user.png' %}">#}
        <a href="#">Профиль</a>
{#        <img src="{% static 'pictures/header/adjust.png' %}">#}
        <a href="#">Настройки</a>
    </nav>
    <img src="{% static 'pictures/main-page/Vector.png' %}" id="footer-icon">
{#    <img src="{% static 'pictures/image_2.png' %}">#}
    {% if user.is_authenticated %}
        <form action="{% url 'exit' %}" method="post">
            {% csrf_token %}
            <button type="submit">Выйти из профиля</button>
        </form>
    {% endif %}
</header>